<div class="row less-gutters justify-content-center">
  <!-- select value -->
  <div class="col-xl-2 col-md-2 mb-1 mb-mb-0">
    <select class="form-control" [(ngModel)]="selectedValue" (change)="onSelectValue()">
      <option value="order">Total order</option>
      <option value="item">Total item</option>
      <option value="price">Total price</option>
    </select>
  </div>
  <!-- select start date -->
  <div class="col-xl-3 col-md-3 mb-1 mb-mb-0">
    <div class="input-group">
      <input class="form-control" placeholder="yyyy-mm-dd" [(ngModel)]="fromDateNgb" ngbDatepicker #ngToDate="ngbDatepicker"/>
      <div class="input-group-append">
        <button class="btn calendar" (click)="ngToDate.toggle()" type="button"><i class="fas fa-calendar-alt"></i>
        </button>
      </div>
    </div>
  </div>
  <!-- select end date -->
  <div class="col-xl-3 col-md-3 mb-1 mb-mb-0">
    <div class="input-group">
      <input class="form-control" placeholder="yyyy-mm-dd" [(ngModel)]="toDateNgb" ngbDatepicker #ngFromDate="ngbDatepicker"/>
      <div class="input-group-append">
        <button class="btn calendar" (click)="ngFromDate.toggle()" type="button"><i
          class="fas fa-calendar-alt"></i></button>
      </div>
    </div>
  </div>
  <!-- button -->
  <div class="col-xl-1 col-md-2 mb-1 mb-md-0">
    <button class="btn my-0 w-100 no-shadow btn-outline-primary" (click)="onSelectRange()" type="button"><i class="fas fa-search"></i>
    </button>
  </div>
</div>

<div class="row mt-5">
  <!-- age chart -->
  <div class="col-md-6 mb-4 mb-md-0">
    <div class="chart-container" style="height: 50vh; width: 100%">
      <canvas id="ageCanvas">{{ ageChart }}</canvas>
    </div>
  </div>
  <!-- gender chart -->
  <div class="col-md-6">
    <div class="chart-container" style="height: 50vh; width: 100%">
      <canvas id="genderCanvas">{{ genderChart }}</canvas>
    </div>
  </div>
</div>

<div class="mt-3 mb-4 text-center">
  <h5>{{chartTitle}}</h5>
</div>
