<section class="section-content bg padding-y-sm">
  <div class="container">
    <div class="row">
      <div class="col-xl-10 col-md-9 col-sm-12">
        <!-- section 1: item info -->
        <section class="card mb-3">
          <div class="row no-gutters">
            <aside class="col-sm-6 border-right">
              <article class="gallery-wrap">
                <div class="img-big-wrap">
                  <div *ngIf="data.image">
                    <a [href]="data.image" data-fancybox [data-caption]="data.title">
                      <img [src]="data.image">
                    </a>
                  </div>
                  <div *ngIf="!data.image">
                    <a [href]="placeholderService.imgHolder(300, 500, data.title)" data-fancybox [data-caption]="data.title">
                      <img [src]="placeholderService.imgHolder(300, 500, data.title)">
                    </a>
                  </div>
                </div>
              </article>
            </aside>
            <aside class="col-sm-6">
              <article class="card-body">

                <h3 class="title mb-3">{{ data.title }}</h3>

                <div class="mb-3">
                  <strong class="price h3 text-warning">
                    <span class="currency">USD </span>
                    <span *ngIf="data.discount == 0" class="num">{{ data.price | currency }}</span>
                    <span *ngIf="data.discount != 0"
                      class="num">{{ (data.price * (100 - data.discount)) / 100 | currency }}</span>
                  </strong>
                  <del *ngIf="data.discount != 0" class="text-muted">{{ data.price | currency }}</span>
                </div>
                <dl>
                  <dt>Description</dt>
                  <dd class="text-justify">
                    <p>{{data.info}}</p>
                  </dd>
                </dl>

                <dl class="row">
                  <dt class="col-sm-3">ISBN</dt>
                  <dd class="col-sm-9">{{ data.isbn }}</dd>
                  <dt class="col-sm-3">Author</dt>
                  <dd class="col-sm-9">{{ data.author }}</dd>
                  <dt class="col-sm-3">Publisher</dt>
                  <dd class="col-sm-9">{{ data.publisher }}</dd>
                  <dt class="col-sm-3">Published</dt>
                  <dd class="col-sm-9">{{ data.published | date: "yyyy-MM-dd" }}</dd>
                  <dt class="col-sm-3">Language</dt>
                  <dd class="col-sm-9">{{ data.language }}</dd>
                  <dt class="col-sm-3">Paperpack</dt>
                  <dd class="col-sm-9">{{ data.page }} pages</dd>
                </dl>

                <div class="rating-wrap">
                  <ng-template #t let-fill="fill">
                    <span [class.full]="fill === 100" class="star">
                      <span [style.width.%]="fill" class="half">&#9733;</span>&#9733;
                    </span>
                  </ng-template>
                  <ngb-rating [rate]="data.rating" [readonly]="true" [starTemplate]="t" class="h3 text-warning mr-3"
                    max="5"></ngb-rating>
                  <div class="label-rating">{{ data.bookComments.length }} reviews</div>
                </div>
                <hr>

                <div class="row">
                  <div class="col-sm-5">
                    <dl class="dlist-inline">
                      <dt>Quantity:</dt>
                      <dd class="ml-2">
                        <input (change)="onChangeAmount($event.target.value)" [value]="amount" class="form-control"
                          min="0" step="1" style="max-width: 100px" type="number" />
                      </dd>
                    </dl>
                  </div>
                </div>
                <hr>

                <button (click)="onAddCart()" class="btn btn-success" type="button"><i
                    class="fas fa-cart-plus mr-2"></i>Add to cart</button>
                <button (click)="onClearCart()" class="btn btn-outline-secondary" type="button"><i
                    class="fas fa-times mr-2"></i>Clear</button>
              </article>
            </aside>
          </div>
        </section>

        <!-- section 2: item detail overview -->
        <article class="card mb-3">
          <div class="card-body">
            <p>{{ data.detail }}</p>
          </div>
        </article>

        <!-- section 3: item rating -->
        <div class="card mb-3">
          <div class="row">

            <!-- rating overview -->
            <div class="col-sm-6">
              <div class="card mb-3 mb-sm-0">
                <div class="card-body">
                  <h4>User rating</h4>
                  <h2 class="pb-3">{{ data.rating }}</h2>
                  <ng-template #t2 let-fill="fill">
                    <span [class.full]="fill === 100" class="star">
                      <span [style.width.%]="fill" class="half">&#9733;</span>&#9733;
                    </span>
                  </ng-template>
                  <ngb-rating [rate]="data.rating" [readonly]="true" [starTemplate]="t2" class="h1 text-warning"
                    max="5"></ngb-rating>
                  <div class="mt-2">total {{ data.bookComments.length }} user' ratings</div>
                </div>
              </div>
            </div>

            <!-- rating detail -->
            <div class="col-sm-6">
              <div class="card">
                <div class="card-body">
                  <h4>Rating breakdown</h4>
                  <div *ngFor="let i of ratings" class="row no-gutters">
                    <div class="col-3 pr-1">{{ i.name }} <span class="h5 text-warning">&#9733;</span></div>
                    <div class="col-5 progress mt-1">
                      <div [ngStyle]="{ width: '' + i.percent + '%' }" class="progress-bar bg-warning"></div>
                    </div>
                    <div class="col-4 text-right pl-1">{{ i.sum }}</div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- user rating -->
          <div class="card">
            <div class="card-body">
              <div *ngFor="let i of data.bookComments" class="row mb-2 border-bottom">
                <div class="col-sm-3">
                  <img *ngIf="i.customer.photo" [src]="i.customer.photo" [alt]="i.customer.fullname" class="img-rounded">
                  <img *ngIf="!i.customer.photo" [src]="placeholderService.imgHolder(300, 300, i.customer.fullname)" [alt]="i.customer.fullname" class="img-rounded">
                  <div>{{ i.updatedAt | date: 'yyyy-MM-dd hh:mm:ss'}}</div>
                  <div>{{ i.updatedFromNow }}</div>
                </div>

                <div class="col-sm-9">
                  <div><strong>{{ i.customer.fullname }}</strong></div>  
                  <ngb-rating [rate]="i.rating" [readonly]="true" class="h5 text-warning mb-0" max="5"></ngb-rating>
                  <p class="text-justify">{{ i.comment }}</p>
                  
                  <div *ngIf="i.customerId == customerId">
                    <button class="btn btn-sm btn-pill btn-primary mr-2" (click)="onOpenComment(i)">Edit</button>
                    <button class="btn btn-sm btn-pill btn-danger" (click)="onDeleteComment(i.id)">Delete</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- recommended section -->
      <aside class="col-xl-2 col-md-3 col-sm-12">
        <div class="card mt-3">
          <div class="card-header">You might like</div>
          <div class="card-body row">
            <div *ngFor="let i of cartService.fetchViewed()" class="col-md-12 col-sm-3">
              <figure class="item border-bottom mb-3">
                <a href="#" class="img-wrap"><img src="images/items/2.jpg" class="img-md"></a>
                <figcaption class="info-wrap">
                  <a href="#" class="title">The name of product</a>
                  <div class="price-wrap mb-3">
                    <span class="price-new">$280</span> <del class="price-old">$280</del>
                  </div>
                </figcaption>
              </figure>
            </div>
          </div>
        </div>
      </aside>
    </div>
  </div>
</section>