<div class="container" *ngIf="data">
  <app-alert-message></app-alert-message>

  <div *ngIf="data.length == 0">
    <h3 class="mb-4">Empty Cart</h3>
    <div>There is no books in your cart! Would you like to pick some!?</div>
    <div class="mt-1 mb-3"><a [routerLink]="'/shop'">Back to shop</a></div>
    <div *ngIf="viewed" class="row">
        <div *ngFor="let i of viewed" class="card-group col-6 col-sm-4 col-lg-2">
          <div class="card mb-3">
            <div class="text-center mx-1 mt-2">
              <img *ngIf="i.image && i.image != ''" [alt]="i.title" [src]="i.image" class="img-fluid mt-2"/>
              <img *ngIf="!i.image || i.image == ''" [alt]="i.title" [src]="'https://via.placeholder.com/250x350/?text=' + i.title.substr(0, 1).toUpperCase()" class="img-fluid mt-2" />
            </div>
  
            <div class="card-body">
              <a [routerLink]="'/shop/' + i.isbn">{{ i.title }}</a>
              <div><strong>{{ i.author }}</strong></div>
              <div>
                <ng-template #t let-fill="fill">
                  <span [class.full]="fill === 100" class="star">
                    <span [style.width.%]="fill" class="half">&#9733;</span>&#9733;
                  </span>
                </ng-template>
                <ngb-rating [rate]="i.rating" [readonly]="true" [starTemplate]="t" class="h4 text-warning my-1" max="5"></ngb-rating>
              </div>
              <div>Price:
                <span *ngIf="i.discount != 0">
                  <span class="h6 mr-2">{{i.price * (100 - i.discount) / 100 | currency}}</span>
                  <del class="text-muted">({{i.price | currency}})</del></span>
                <span *ngIf="i.discount == 0"><span class="h6">{{i.price | currency}}</span></span>
              </div>
            </div>
          </div>
        </div>
    </div>    
  </div>

  <h3 class="mb-4">Item in cart</h3>
  <div *ngFor="let i of data" class="row mb-4 mb-sm-2">
    <div *ngIf="i.meta" class="col-lg-2 col-sm-3 mb-2 mb-sm-0">
      <img *ngIf="i.meta.image && i.meta.image != ''" [alt]="i.meta.title" [src]="i.meta.image" class="img-fluid mt-2" style="max-height: 100px"/>
      <img *ngIf="!i.meta.image || i.meta.image == ''" [alt]="i.meta.title" [src]="'https://via.placeholder.com/250x350/?text=' + i.meta.title.substr(0, 1).toUpperCase()" class="img-fluid mt-2" style="max-height: 100px"/>
    </div>

    <div *ngIf="i.meta" class="col-lg-8 col-sm-8 mb-2 mb-sm-0">
      <div><a [routerLink]="'/shop/' + i.isbn" class="lead">{{ i.meta.title }}</a></div>
      <div><strong>{{ i.meta.author }}</strong> | {{ i.meta.published | date: "yyyy-MM-dd" }} | <strong>{{ i.meta.publisher }}</strong></div>
      <div class="h6 mt-1 mb-0"><strong>{{ i.actualPrice | currency }} x {{ i.amount }}</strong>
      <div class="h6 mt-1 mb-0">
        <button class="btn btn-link text-danger" (click)="clickRemoveCart(i)">Clear</button>
      </div>
      </div>
    </div>

    <div *ngIf="i.meta" class="col-lg-2 col-sm-3 mb-sm-0">
      <button class="btn btn-primary h4 float-sm-right" type="button">{{ i.amount * i.actualPrice | currency }}</button>
    </div>
  </div>
  <div *ngIf="data.length != 0" class="mt-3">
    <a class="btn btn-link" [routerLink]="'/shop'">Looking for more</a> | <button class="btn btn-link text-danger" (click)="clickClearCart()">Cancel all</button>
  </div>
  <hr />

  <div class="row mt-5" [attr.disabled]="data.length == 0 ? '' : null">
    <div class="col-md-6 mb-md-0 mb-4">
      <h3 class="mb-4">Customer Information</h3>
      <form *ngIf="form" [formGroup]="form">
        <div class="form-group">
          <label>Full name</label>
          <input type="text" class="form-control" formControlName="fullname" readonly />
        </div>
        <div class="form-group">
          <label>Address</label>
          <input type="text" [attr.readonly]="data.length == 0 ? '' : null" class="form-control" formControlName="address" />
        </div>
        <div class="form-group">
          <label>Phone</label>
          <input type="text" [attr.readonly]="data.length == 0 ? '' : null" class="form-control" formControlName="phone" />
        </div>
        <div class="form-group">
          <label>Note</label>
          <textarea class="form-control" [attr.readonly]="data.length == 0 ? '' : null" formControlName="note"></textarea>
        </div>
      </form>
    </div>

    <div class="col-md-6">
      <h3 class="mb-4">Cart Detail</h3>
      <h5 style="clear: both">
        Total items: <span class="h3 float-right">{{ totalItem }}</span>
      </h5>
      <h5 style="clear: both">
        Total price: <span class="h3 float-right">{{ totalPrice | currency }}</span>
      </h5>
      <h5 style="clear: both">Payment method</h5>
      <div class="ml-4">
        <div class="form-check">
          <input checked class="form-check-input" type="radio" value="cod"/>
          <label class="form-check-label">Cash on Delivery</label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" value="ebank" disabled />
          <label class="form-check-label">Internet Banking</label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" value="ewallet" disabled />
          <label class="form-check-label">Digital Wallet</label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" value="credit" disabled />
          <label class="form-check-label">Credit Cart</label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" value="debit" disabled />
          <label class="form-check-label">Debit Card</label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" value="crypto" disabled />
          <label class="form-check-label">Crypto Currency</label>
        </div>
      </div>
      <hr />
      <h5 class="mb-2" style="clear: both">
        Total final price <span class="h1 float-right bg-primary text-white px-3 py-2 mt-2 mt-sm-0" style="border-radius: 10px">{{ totalPrice | currency }}</span>
      </h5>
      <div class="mt-4" style="clear: both">
        <button type="button" class="btn btn-primary mr-2" [attr.disabled]="data.length == 0 ? '' : null" (click)="clickSubmit()">Submit order</button>
        <button type="button" class="btn btn-danger" [attr.disabled]="data.length == 0 ? '' : null" (click)="clickClearCart()">Cancel all</button>
      </div>
    </div>
  </div>
</div>
