<div *ngIf="loaded" class="card">
  <div class="card-header">List of all customers</div>
  <div class="card-body">
    <div class="input-group mb-4">
      <input type="text" class="form-control" [(ngModel)]="filter" placeholder="Search..." />
      <div class="input-group-append">
        <button class="btn btn-outline-secondary" type="button" (click)="filter = ''"><i class="fas fa-times"></i></button>
      </div>
    </div>

    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th (click)="onSort('fullname')" class="cursor-pointer" scope="col">Fullname</th>
            <th (click)="onSort('male')" class="cursor-pointer" scope="col">Gender</th>
            <th (click)="onSort('birth')" class="cursor-pointer" scope="col">Year of Birth</th>
            <th (click)="onSort('phone')" class="cursor-pointer" scope="col">Phone</th>
            <th (click)="onSort('createdAt')" class="cursor-pointer" scope="col">Registered at</th>
            <th (click)="onSort(null)" class="cursor-pointer" scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
        <tr *ngFor="let item of dataFilter | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize">
          <td><ngb-highlight [result]="item.fullname" [term]="filter"></ngb-highlight></td>
          <td><ngb-highlight [result]="item.male == true ? 'Male' : 'Female'" [term]="filter"></ngb-highlight></td>
          <td><ngb-highlight [result]="item.birth" [term]="filter"></ngb-highlight></td>
          <td><ngb-highlight [result]="item.phone" [term]="filter"></ngb-highlight></td>
          <td><ngb-highlight [result]="item.createdAt | date: 'yyyy-MM-dd hh:mm:ss'" [term]="filter"></ngb-highlight></td>
          <td><a [routerLink]="'./' + item.userId">Detail</a></td></tr>
        </tbody>
      </table>
      <ngb-pagination *ngIf="dataFilter" [(page)]="page" [collectionSize]="dataFilter.length" [pageSize]="pageSize" [maxSize]="10">
        <ng-template ngbPaginationFirst>First</ng-template>
        <ng-template ngbPaginationLast>Last</ng-template>
        <ng-template ngbPaginationPrevious>Prev</ng-template>
        <ng-template ngbPaginationNext>Next</ng-template>
        <ng-template ngbPaginationEllipsis>...</ng-template>
        <ng-template ngbPaginationNumber let-page>{{ page }}</ng-template>
      </ngb-pagination>
    </div>
  </div>
</div>
