<div class="row justify-content-center">
  <div class="col-xl-6 col-lg-8 col-md-10">
    <div class="card">
      <div class="card-header">Register</div>
      <div class="card-body">
        <form [formGroup]="form">
          <div class="form-group">
            <label>Username</label>
            <div>
              <input type="text" class="form-control" formControlName="username" (change)="customValidator.username = true" placeholder="this control is required" />
              <app-form-error [(input)]="form.controls.username"></app-form-error>
              <div class="text-danger" *ngIf="customValidator.username == false">
                <small>{{USERNAME_EXISTED}}</small>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label>Email</label>
            <div>
              <input type="email" class="form-control" formControlName="email" (change)="customValidator.email = true" placeholder="this control is required" />
              <app-form-error [(input)]="form.controls.email"></app-form-error>
              <div class="text-danger" *ngIf="customValidator.email == false">
                <small>{{EMAIL_EXISTED}}</small>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label>Password</label>
            <div>
              <input type="password" class="form-control" formControlName="password" (change)="validateConfirm()"/>
              <app-form-error [(input)]="form.controls.password"></app-form-error>
            </div>
          </div>
          <div class="form-group">
            <label>Confirm password</label>
            <div>
              <input type="password" class="form-control" formControlName="confirm" (change)="validateConfirm()" />
              <app-form-error [(input)]="form.controls.password"></app-form-error>
              <div class="text-danger" *ngIf="form.controls.confirm.touched && customValidator.confirm == false">
                <small>{{CONFIRM_PASSWORD_MISMATCHED}}</small>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label>Fullname</label>
            <div>
              <input type="text" class="form-control" formControlName="fullname" placeholder="this control is required" />
              <app-form-error [(input)]="form.controls.fullname"></app-form-error>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label>Year of birth</label>
                <div><input type="number" style="max-width: 200px" class="form-control" formControlName="birth" (change)="validateBirth()" /></div>
                <app-form-error [(input)]="form.controls.birth"></app-form-error>
                <div class="text-danger" *ngIf="customValidator.birth == false">
                  <small>{{REGISTER_AGE_LIMIT}}</small>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label>Gender</label>
                <div>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" formControlName="gender" value="male" />
                    <label class="form-check-label">Male</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" formControlName="gender" value="female" />
                    <label class="form-check-label">Female</label>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label>Address</label>
            <div><input type="text" class="form-control" formControlName="address" /></div>
          </div>
          <div class="form-group">
            <label>Phone</label>
            <div><input type="text" class="form-control" formControlName="phone" /></div>
          </div>
          <div class="form-group text-center mt-4">
            <div>
              <button type="button" class="btn btn-primary mr-2" (click)="clickSummit()">Register</button>
              <a [routerLink]="'/login'">Have an account!? Log in now!</a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
