<!-- Page Content -->
<div id="page-content-wrapper">
  <nav class="navbar navbar-expand-md navbar-dark bg-primary text-white border-bottom">
    <div class="navbar-heading">
      <a class="text-white nav-link active" href="/">Readible 1.0.1</a>
    </div>

    <button class="navbar-toggler" data-target="#navbarSupportedContent" data-toggle="collapse" type="button">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul *ngIf="loggedIn == true" class="navbar-nav ml-auto pl-3 pl-md-0" style="font-size: 1rem !important">
        <li class="nav-item">
          <a [routerLink]="'/shop'" class="nav-link active"><i class="fas fa-store"></i> Shop</a>
        </li>
        <li class="nav-item">
          <a [routerLink]="'/customer/cart'" class="nav-link active"><i class="fas fa-shopping-cart"></i>
            Cart [{{cartService.totalItem()}}]</a>
        </li>
        <li class="nav-item">
          <a [routerLink]="'/customer/orders'" class="nav-link active"><i class="fas fa-clipboard-list"></i> Orders</a>
        </li>
        <li class="nav-item">
          <a (click)="onLogout()" [routerLink]="''" class="nav-link active"><i class="fas fa-sign-out-alt"></i> Log
            out</a>
        </li>
      </ul>
      <ul *ngIf="loggedIn == false" class="navbar-nav ml-auto pl-3 pl-md-0" style="font-size: 1rem !important">
        <li class="nav-item">
          <a [routerLink]="'/customer/cart'" class="nav-link active"><i class="fas fa-shopping-cart"></i>
            Cart [{{cartService.totalItem()}}]</a>
        </li>
        <li class="nav-item">
          <a [routerLink]="'/login'" class="nav-link active"><i class="fas fa-sign-in-alt"></i> Log in</a>
        </li>
        <li class="nav-item">
          <a [routerLink]="'/register'" class="nav-link active"><i class="fas fa-user-plus"></i> Sign up</a>
        </li>
      </ul>
    </div>
  </nav>

  <app-http-loader></app-http-loader>
  <div class="container-fluid" id="main-content-wrapper">
    <div class="my-3">
      <app-alert-message></app-alert-message>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
