<div class="row">
  <div class="col-xl-2 col-md-4 mb-1 mb-xl-0">
    <select class="form-control" [(ngModel)]="selectedValue" (change)="selectValue()">
      <option value="order">Total order</option>
      <option value="item">Total item</option>
      <option value="price">Total price</option>
    </select>
  </div>

  <div class="col-xl-2 col-md-4 mb-1 mb-xl-0">
    <select class="form-control" [(ngModel)]="selectedRecent" (change)="selectRecent()">
      <option value="week">Last 7 days</option>
      <option value="fortnight">Last 14 days</option>
      <option value="month">Last 30 days</option>
      <option value="year">Last 12 months</option>
    </select>
  </div>

  <div class="col-xl-2 col-md-4 mb-xl-0 mb-1 mb-md-0">
    <select class="form-control" [(ngModel)]="selectedReference">
      <option value="day">Day</option>
      <option value="month">Month</option>
      <option value="year">Year</option>
    </select>
  </div>

  <div class="col-xl-2 col-md-4 mb-1 mb-md-0">
    <div class="input-group">
      <input class="form-control" placeholder="yyyy-mm-dd" [(ngModel)]="fromDateNgb" ngbDatepicker #ngToDate="ngbDatepicker"/>
      <div class="input-group-append">
        <button class="btn calendar" (click)="ngToDate.toggle()" type="button"><i class="fas fa-calendar-alt"></i></button>
      </div>
    </div>
  </div>

  <div class="col-xl-2 col-md-4 mb-1 mb-md-0">
    <div class="input-group">
      <input class="form-control" placeholder="yyyy-mm-dd" [(ngModel)]="toDateNgb" ngbDatepicker #ngFromDate="ngbDatepicker"/>
      <div class="input-group-append">
        <button class="btn calendar" (click)="ngFromDate.toggle()" type="button"><i class="fas fa-calendar-alt"></i></button>
      </div>
    </div>
  </div>

  <div class="col-xl-2 col-md-2">
    <button class="btn btn-info btn-default my-0 w-100 no-shadow" (click)="selectRange()" type="button"><i class="fas fa-search"></i></button>
  </div>
</div>

<div class="mt-2 text-center" *ngIf="error && error != ''">
  <span class="text-danger">{{error}}</span>
</div>

<div class="mt-5 chart-container" style="height: 65vh; width: 100%">
  <canvas id="canvas">{{ chart }}</canvas>
</div>

<div class="mt-3 mb-4 text-center">
  <h5>{{chartTitle}}</h5>
</div>
