<div *ngIf="count" class="row">
  <div class="col-xl-3 col-6">
    <div class="card bg-success text-white">
      <div class="card-body">
        <div class="row">
          <div class="d-none d-sm-inline col-sm-5 text-right">
            <i class="fas fa-book fa-4x"></i>
          </div>
          <div class="col-sm-7 text-left my-auto">
            <div class="text-uppercase"><a class="text-white" [routerLink]="'/admin/books'">Books</a></div>
            <h2 class="mb-0">{{ count.book }}</h2>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-xl-3 col-6">
    <div class="card bg-danger text-white">
      <div class="card-body">
        <div class="row">
          <div class="d-none d-sm-inline col-sm-5 text-right">
            <i class="fas fa-comment-alt fa-4x"></i>
          </div>
          <div class="col-sm-7 text-left my-auto">
            <h6 class="text-uppercase"><a class="text-white" [routerLink]="'/admin/book-comments'">Comments</a></h6>
            <h2 class="mb-0">{{ count.comment }}</h2>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-xl-3 col-6">
    <div class="card bg-info text-white">
      <div class="card-body">
        <div class="row">
          <div class="d-none d-sm-inline col-sm-5 text-right">
            <i class="fas fa-user-friends fa-4x"></i>
          </div>
          <div class="col-sm-7 text-left my-auto">
            <h6 class="text-uppercase"><a class="text-white" [routerLink]="'/admin/customers'">Customers</a></h6>
            <h2 class="mb-0">{{ count.customer }}</h2>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-xl-3 col-6">
    <div class="card bg-warning text-white">
      <div class="card-body">
        <div class="row">
          <div class="d-none d-sm-inline col-sm-5 text-right">
            <i class="fas fa-shopping-cart fa-4x"></i>
          </div>
          <div class="col-sm-7 text-left my-auto">
            <h6 class="text-uppercase"><a class="text-white" [routerLink]="'/admin/orders'">Orders</a></h6>
            <h2 class="mb-0">{{ count.order }}</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div *ngIf="top" class="col-md-6">
    <div class="card">
      <div class="card-header">Top purchased</div>
      <div class="card-body">
        <table class="table table-striped">
          <thead>
          <tr>
            <th scope="col">Fullname</th>
            <th scope="col">Phone</th>
            <th scope="col">Purchased</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let item of top.purchased">
            <td><a [routerLink]="'/admin/customers/' + item.userId">{{ item.fullname }}</a></td>
            <td>{{ item.phone }}</td>
            <td>{{ item.totalPurchased }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div *ngIf="top" class="col-md-6">
    <div class="card">
      <div class="card-header">Top paid</div>
      <div class="card-body">
        <table class="table table-striped">
          <thead>
          <tr>
            <th scope="col">Fullname</th>
            <th scope="col">Phone</th>
            <th scope="col">Purchased</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let item of top.paid">
            <td><a [routerLink]="'/admin/customers/' + item.userId">{{ item.fullname }}</a></td>
            <td>{{ item.phone }}</td>
            <td>{{ item.totalPaid | currency }}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div *ngIf="top" class="col-12">
    <div class="card">
      <div class="card-header">Top sold book</div>

      <div class="card-body">
        <table class="table table-striped">
          <thead>
          <tr>
            <th scope="col">Isbn</th>
            <th scope="col">Title</th>
            <th scope="col">Author</th>
            <th scope="col">Total sold</th>
            <th scope="col">Total price</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let item of top.sold">
            <td>{{ item.isbn }}</td>
            <td><a class="text-wrap" [routerLink]="'/admin/books/' + item.isbn">{{ item.title }}</a></td>
            <td>{{ item.author }}</td>
            <td>{{ item.totalSold }}</td>
            <td>{{ item.totalPrice | currency }}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div *ngIf="top" class="col-12">
    <div class="card">
      <div class="card-header">Top rated book</div>

      <div class="card-body">
        <table class="table table-striped">
          <thead>
          <tr>
            <th scope="col">Isbn</th>
            <th scope="col">Title</th>
            <th scope="col">Author</th>
            <th scope="col">Comments</th>
            <th scope="col">Rating</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let item of top.rating">
            <td>{{ item.isbn }}</td>
            <td><a class="text-wrap" [routerLink]="'/admin/books/' + item.isbn">{{ item.title }}</a></td>
            <td>{{ item.author }}</td>
            <td>{{ item.count }}</td>
            <td><ngb-rating class="star-container text-warning" [rate]="item.rating" [readonly]="true" max="5"></ngb-rating></td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
