body {
  font-family: "Open Sans", sans-serif;
  color: 1rem;
}

.form-group {
  margin-bottom: .45rem;
}

.form-group label {
  margin-bottom: .45rem;
}

.form-group label.form-check-label {
  margin: 0;
}

.cursor-pointer {
  cursor: pointer;
}

.card .card-header {
  color: #fff;
  background-color: #2196f3 !important;
  font-size: 1.1rem;
}

.alert {
  margin-top: .5rem;
  margin-bottom: .5rem;
}

.badge {
  margin: 0;
  padding: 0.45rem 0.65rem;
  font-size: 0.875rem;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-radius: 100rem;
  color: #fff;
  font-weight: 400;
  background-color: #2196f3;
}

.badge.badge-square {
  border-radius: 0 !important;
}

.badge.badge-round {
  border-radius: 50% !important;
}

.badge.badge-pill {
  border-radius: 100rem !important;
}

.badge.badge-primary {
  background-color: #2196f3 !important;
}

.badge.badge-default {
  background-color: #009688 !important;
}

.badge.badge-success {
  background-color: #4caf50 !important;
}

.badge.badge-warning {
  background-color: #ffc107 !important;
}

.badge.badge-danger {
  background-color: #f44336 !important;
}

.badge.badge-info {
  background-color: #00bcd4 !important;
}

.btn {
  font-size: 0.875rem;
  font-weight: 500;
  text-transform: uppercase;
  color: #fff;
  background-color: #2196f3;
  cursor: pointer;
  min-height: 2.75rem;
  border: none;
  border-radius: 0.25rem;
  padding: 0 1rem 0 1rem;
  margin: .5rem 0 .5rem 0;
  -webkit-box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
  -webkit-transition: -webkit-box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn:hover {
  background-color: #1976d2;
}

.btn:disabled {
  opacity: 0.5 !important;
  cursor: default !important;
}

.btn.btn-link {
  font-size: 1rem;
  font-weight: 400;
  text-transform: none;
  color: #212121;
  background-color: transparent;
  cursor: pointer;
  min-height: 0;
  border-radius: none;
  padding: 0;
  margin: 0;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  -webkit-transition: none !important;
  transition: none !important;
}

.input-group .input-group-append .btn {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0.25rem !important;
  border-top-right-radius: 0.25rem !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  -webkit-transition: none !important;
  transition: none !important;
}

.btn.calendar {
  font-size: 1rem;
  color: #212121;
  background-color: #fff;
  cursor: pointer;
  width: 3.25rem;
  height: 2.75rem;
  border: none;
  padding: 0 .25rem 0 .25rem;
  margin: 0;
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0.25rem !important;
  border-top-right-radius: 0.25rem !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  -webkit-transition: none !important;
  transition: none !important;
}

.btn.btn-normal {
  border-radius: 0.25rem !important;
}

.btn.btn-square {
  border-radius: 0 !important;
}

.btn.btn-round {
  border-radius: 50% !important;
}

.btn.btn-pill {
  border-radius: 100rem !important;
}

.btn.btn-sm {
  font-size: .75rem;
  min-height: 2rem;
  padding: 0 .5rem 0 .5rem;
  margin: .25rem 0 .25rem 0;
}

.btn.btn-lg {
  font-size: 1.1rem;
  min-height: 3.5rem;
  padding: 0 1.25rem 0 1.25rem;
  margin: .5rem 0 .5rem 0;
}

.btn.btn-purple-gradient {
  background: linear-gradient(45deg, #e91e63, #673ab7) !important;
  color: #fff;
}

.btn.btn-purple-gradient:hover {
  background: linear-gradient(45deg, #c2185b, #512da8) !important;
}

.btn.btn-blue-gradient {
  background: linear-gradient(45deg, #00bcd4, #2196f3) !important;
  color: #fff;
}

.btn.btn-blue-gradient:hover {
  background: linear-gradient(45deg, #0097a7, #1976d2) !important;
}

.btn.btn-red-gradient {
  background: linear-gradient(45deg, #ffc107, #f44336) !important;
  color: #fff;
}

.btn.btn-red-gradient:hover {
  background: linear-gradient(45deg, #ffa000, #d32f2f) !important;
}

.btn.btn-green-gradient {
  background: linear-gradient(45deg, #4caf50, #009688) !important;
  color: #fff;
}

.btn.btn-green-gradient:hover {
  background: linear-gradient(45deg, #388e3c, #00796b) !important;
}

.btn.btn-primary {
  background-color: #2196f3 !important;
  color: #fff;
}

.btn.btn-primary:hover {
  background-color: #1976d2 !important;
}

.btn.btn-default {
  background-color: #009688 !important;
  color: #fff;
}

.btn.btn-default:hover {
  background-color: #00796b !important;
}

.btn.btn-info {
  background-color: #00bcd4 !important;
  color: #fff;
}

.btn.btn-info:hover {
  background-color: #0097a7 !important;
}

.btn.btn-success {
  background-color: #4caf50 !important;
  color: #fff;
}

.btn.btn-success:hover {
  background-color: #388e3c !important;
}

.btn.btn-warning {
  background-color: #ffc107 !important;
  color: #fff;
}

.btn.btn-warning:hover {
  background-color: #ffa000 !important;
}

.btn.btn-danger {
  background-color: #f44336 !important;
  color: #fff;
}

.btn.btn-danger:hover {
  background-color: #d32f2f !important;
}

.btn.btn-secondary {
  background-color: #6c757d !important;
  color: #fff;
}

.btn.btn-secondary:hover {
  background-color: #525d67 !important;
}

.btn.btn-unique {
  background-color: #673ab7 !important;
  color: #fff;
}

.btn.btn-unique:hover {
  background-color: #512da8 !important;
}

.btn.btn-romantic {
  background-color: #e91e63 !important;
  color: #fff;
}

.btn.btn-romantic:hover {
  background-color: #c2185b !important;
}

.btn.btn-elegant {
  background-color: #9c27b0 !important;
  color: #fff;
}

.btn.btn-elegant:hover {
  background-color: #7b1fa2 !important;
}

.btn.btn-special {
  background-color: #795548 !important;
  color: #fff;
}

.btn.btn-special:hover {
  background-color: #5d4037 !important;
}

.btn.btn-dark {
  background-color: #313131 !important;
  color: #fff;
}

.btn.btn-dark:hover {
  background-color: #212121 !important;
}

.btn.btn-outline-primary {
  background-color: transparent !important;
  color: #2196f3 !important;
  border: 0.1rem solid #2196f3 !important;
}

.btn.btn-outline-primary:hover {
  color: #1976d2 !important;
  border-color: #1976d2 !important;
}

.btn.btn-outline-default {
  background-color: transparent !important;
  color: #009688 !important;
  border: 0.1rem solid #009688 !important;
}

.btn.btn-outline-default:hover {
  color: #00796b !important;
  border-color: #00796b !important;
}

.btn.btn-outline-info {
  background-color: transparent !important;
  color: #00bcd4 !important;
  border: 0.1rem solid #00bcd4 !important;
}

.btn.btn-outline-info:hover {
  color: #0097a7 !important;
  border-color: #0097a7 !important;
}

.btn.btn-outline-success {
  background-color: transparent !important;
  color: #4caf50 !important;
  border: 0.1rem solid #4caf50 !important;
}

.btn.btn-outline-success:hover {
  color: #388e3c !important;
  border-color: #388e3c !important;
}

.btn.btn-outline-warning {
  background-color: transparent !important;
  color: #ffc107 !important;
  border: 0.1rem solid #ffc107 !important;
}

.btn.btn-outline-warning:hover {
  color: #ffa000 !important;
  border-color: #ffa000 !important;
}

.btn.btn-outline-danger {
  background-color: transparent !important;
  color: #f44336 !important;
  border: 0.1rem solid #f44336 !important;
}

.btn.btn-outline-danger:hover {
  color: #d32f2f !important;
  border-color: #d32f2f !important;
}

.btn.btn-outline-special {
  background-color: transparent !important;
  color: #795548 !important;
  border: 0.1rem solid #795548 !important;
}

.btn.btn-outline-special:hover {
  color: #5d4037 !important;
  border-color: #5d4037 !important;
}

.btn.btn-outline-unique {
  background-color: transparent !important;
  color: #673ab7 !important;
  border: 0.1rem solid #673ab7 !important;
}

.btn.btn-outline-unique:hover {
  color: #512da8 !important;
  border-color: #512da8 !important;
}

.btn.btn-outline-romantic {
  background-color: transparent !important;
  color: #e91e63 !important;
  border: 0.1rem solid #e91e63 !important;
}

.btn.btn-outline-romantic:hover {
  color: #c2185b !important;
  border-color: #c2185b !important;
}

.btn.btn-outline-elegant {
  background-color: transparent !important;
  color: #9c27b0 !important;
  border: 0.1rem solid #9c27b0 !important;
}

.btn.btn-outline-elegant:hover {
  color: #7b1fa2 !important;
  border-color: #7b1fa2 !important;
}

.btn.btn-outline-dark {
  background-color: transparent !important;
  color: #313131 !important;
  border: 0.1rem solid #313131 !important;
}

.btn.btn-outline-dark:hover {
  color: #212121 !important;
  border-color: #212121 !important;
}

.btn.btn-outline-secondary {
  background-color: transparent !important;
  color: #6c757d !important;
  border: 0.1rem solid #6c757d !important;
}

.btn.btn-outline-secondary:hover {
  color: #525d67 !important;
  border-color: #525d67 !important;
}

.bg-primary {
  background-color: #2196f3 !important;
  color: #fff;
}

.bg-primary.focus {
  background-color: #1976d2 !important;
}

.bg-default {
  background-color: #009688 !important;
  color: #fff;
}

.bg-default.focus {
  background-color: #00796b !important;
}

.bg-info {
  background-color: #00bcd4 !important;
  color: #fff;
}

.bg-info.focus {
  background-color: #0097a7 !important;
}

.bg-success {
  background-color: #4caf50 !important;
  color: #fff;
}

.bg-success.focus {
  background-color: #388e3c !important;
}

.bg-warning {
  background-color: #ffc107 !important;
  color: #fff;
}

.bg-warning.focus {
  background-color: #ffa000 !important;
}

.bg-danger {
  background-color: #f44336 !important;
  color: #fff;
}

.bg-danger.focus {
  background-color: #d32f2f !important;
}

.bg-special {
  background-color: #795548 !important;
  color: #fff;
}

.bg-special.focus {
  background-color: #5d4037 !important;
}

.bg-unique {
  background-color: #673ab7 !important;
  color: #fff;
}

.bg-unique.focus {
  background-color: #512da8 !important;
}

.bg-elegant {
  background-color: #9c27b0 !important;
  color: #fff;
}

.bg-elegant.focus {
  background-color: #7b1fa2 !important;
}

.bg-romantic {
  background-color: #e91e63 !important;
  color: #fff;
}

.bg-romantic.focus {
  background-color: #c2185b !important;
}

.bg-dark {
  background-color: #313131 !important;
  color: #fff;
}

.bg-dark.focus {
  background-color: #212121 !important;
}

.bg-secondary {
  background-color: #6c757d !important;
  color: #fff;
}

.bg-secondary.focus {
  background-color: #525d67 !important;
}

.bg-purple-gradient {
  background: linear-gradient(45deg, #e91e63, #673ab7) !important;
}

.bg-purple-gradient.focus {
  background: linear-gradient(45deg, #c2185b, #512da8) !important;
}

.bg-blue-gradient {
  background: linear-gradient(45deg, #00bcd4, #2196f3) !important;
}

.bg-blue-gradient.focus {
  background: linear-gradient(45deg, #0097a7, #1976d2) !important;
}

.bg-red-gradient {
  background: linear-gradient(45deg, #ffc107, #f44336) !important;
}

.bg-red-gradient.focus {
  background: linear-gradient(45deg, #ffa000, #d32f2f) !important;
}

.bg-green-gradient {
  background: linear-gradient(45deg, #4caf50, #009688) !important;
}

.bg-green-gradient.focus {
  background: linear-gradient(45deg, #388e3c, #00796b) !important;
}

.card {
  color: #fff;
  border: none;
  border-radius: 0.25rem;
  width: 100%;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  -webkit-box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.2), 0 0.375px 1.25rem 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.2), 0 0.375px 1.25rem 0 rgba(0, 0, 0, 0.19);
}

.card .card-header {
  background: #2196f3;
  border-radius: 0.25rem 0.25rem 0 0;
  padding: 1rem 1.25rem;
}

.card .card-body {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding: 1rem 1.25rem;
}

.card .card-footer {
  background: #6c757d;
  border-radius: 0 0 0.25rem 0.25rem;
  padding: 1rem 1.25rem;
}

.card img.card-img-top {
  padding: 0 !important;
  border-radius: 0.25rem 0.25rem 0 0;
  width: 100%;
}

.card img.card-img {
  padding: 0 !important;
  border-radius: 0;
  width: 100%;
}

.card img.card-img-bottom {
  padding: 0 !important;
  border-radius: 0 0 0.25rem 0.25rem;
  width: 100%;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

h2 {
  font-size: 2rem;
  margin-bottom: .85rem;
}

h3 {
  font-size: 1.75rem;
  margin-bottom: .65rem;
}

h4 {
  font-size: 1.5rem;
  margin-bottom: .15rem;
}

h5 {
  font-size: 1.25rem;
  margin-bottom: .15rem;
}

h6 {
  font-size: 1.1rem;
  margin-bottom: 0;
}

.h1 {
  font-size: 2.5rem;
}

.h2 {
  font-size: 2rem;
}

.h3 {
  font-size: 1.75rem;
}

.h4 {
  font-size: 1.5rem;
}

.h5 {
  font-size: 1.25rem;
}

.h6 {
  font-size: 1.1rem;
}

.hg {
  font-size: 3rem;
}

svg {
  min-width: 24px;
}

.list-group .list-group-item {
  padding: .45rem 15px;
}

.list-group.p-md .list-group-item {
  padding: .65rem 1.25rem;
}

.list-group.border-0 .list-group-item {
  border: 0 !important;
}

.row.less-gutters {
  margin-left: -8px;
  margin-right: -8px;
}

.row.less-gutters > .col, .row.less-gutters > [class*=col-] {
  padding-right: 8px;
  padding-left: 8px;
}

.text-primary {
  color: #2196f3 !important;
}

.text-primary.focus {
  color: #1976d2 !important;
}

.text-info {
  color: #00bcd4 !important;
}

.text-info.focus {
  color: #0097a7 !important;
}

.text-secondary {
  color: #6c757d !important;
}

.text-secondary.focus {
  color: #525d67 !important;
}

.text-danger {
  color: #f44336 !important;
}

.text-danger.focus {
  color: #d32f2f !important;
}

.text-warning {
  color: #ffc107 !important;
}

.text-warning.focus {
  color: #ffa000 !important;
}

.text-success {
  color: #4caf50 !important;
}

.text-success.focus {
  color: #388e3c !important;
}

a.bg-primary {
  color: #fff;
  background-color: #2196f3;
}

a.bg-primary:hover {
  background-color: #1976d2 !important;
}

a.bg-primary:focus {
  background-color: #1976d2 !important;
}

a.bg-primary.active {
  background-color: #1976d2 !important;
}

a.bg-info {
  color: #fff;
  background-color: #00bcd4;
}

a.bg-info:hover {
  background-color: #0097a7 !important;
}

a.bg-info:focus {
  background-color: #0097a7 !important;
}

a.bg-info.active {
  background-color: #0097a7 !important;
}

a.bg-secondary {
  color: #fff;
  background-color: #6c757d;
}

a.bg-secondary:hover {
  background-color: #525d67 !important;
}

a.bg-secondary:focus {
  background-color: #525d67 !important;
}

a.bg-secondary.active {
  background-color: #525d67 !important;
}

a.bg-danger {
  color: #fff;
  background-color: #f44336;
}

a.bg-danger:hover {
  background-color: #d32f2f !important;
}

a.bg-danger:focus {
  background-color: #d32f2f !important;
}

a.bg-danger.active {
  background-color: #d32f2f !important;
}

a.bg-warning {
  color: #fff;
  background-color: #ffc107;
}

a.bg-warning:hover {
  background-color: #ffa000 !important;
}

a.bg-warning:focus {
  background-color: #ffa000 !important;
}

a.bg-warning.active {
  background-color: #ffa000 !important;
}

a.bg-success {
  color: #fff;
  background-color: #4caf50;
}

a.bg-success:hover {
  background-color: #388e3c !important;
}

a.bg-success:focus {
  background-color: #388e3c !important;
}

a.bg-success.active {
  background-color: #388e3c !important;
}

.star {
  position: relative;
  display: inline-block;
  color: #d3d3d3;
}

.star.full {
  color: #ffc107;
}

.star .half {
  position: absolute;
  display: inline-block;
  overflow: hidden;
  color: #ffc107;
}

.sidebar-heading {
  padding: 0.975rem 1.25rem !important;
  font-size: 1.2rem !important;
}

.navbar-heading {
  font-size: 1.2rem !important;
}

.table th {
  text-transform: uppercase;
  font-weight: 500;
}

.table th, .table td {
  padding: 0.5rem 0.75rem;
}

.loader-overlay {
  width: 100%;
  min-height: 5px;
}

.loader {
  margin: 0;
  min-height: 5px;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.loader:before {
  display: block;
  position: absolute;
  content: "";
  left: 0px;
  min-height: 5px;
  background-color: #4caf50;
  -webkit-animation: loading 2s linear infinite;
          animation: loading 2s linear infinite;
}

@-webkit-keyframes loading {
  from {
    width: 30%;
  }
  10% {
    left: 10%;
    width: 30%;
  }
  25% {
    left: 25%;
    width: 35%;
  }
  40% {
    left: 40%;
    width: 45%;
  }
  60% {
    left: 60%;
    width: 60%;
  }
  85% {
    left: 80%;
    width: 45%;
  }
  to {
    left: 100%;
    width: 35%;
  }
}

@keyframes loading {
  from {
    width: 30%;
  }
  10% {
    left: 10%;
    width: 30%;
  }
  25% {
    left: 25%;
    width: 35%;
  }
  40% {
    left: 40%;
    width: 45%;
  }
  60% {
    left: 60%;
    width: 60%;
  }
  85% {
    left: 80%;
    width: 45%;
  }
  to {
    left: 100%;
    width: 35%;
  }
}
/*# sourceMappingURL=styles.old.css.map */