<div class="container">
  <div *ngIf="data" class="card mb-3">
    <div class="card-header">List of books ordered</div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">ISBN</th>
              <th scope="col">Title</th>
              <th scope="col">Author</th>
              <th scope="col">Price</th>
              <th scope="col">Total price</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of data.orderDetails">
              <td>{{ item.book.isbn }}</td>
              <td>
                <a [routerLink]="'/admin/book/' + item.book.isbn">{{ item.book.title }}</a>
              </td>
              <td>{{ item.book.author }}</td>
              <td>{{ item.price | currency }}</td>
              <td>{{ item.amount * item.price | currency }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="mb-4">
    <a class="btn btn-secondary" [routerLink]="'../'">Back</a>
  </div>
</div>
